
	nav li{
	 display:line-block;
 }
 nav a {
	 background-color: #bbb;
	 color: #fff;
	 padding: 12px 20px;
	border-right: 1px solids black;
	text-decoration: none; 
 } 
 nav a: hover { 
  background-color: #38a;
 }
 nav li: last-child a {  
 border-right :0;
 }